/*------------------------------------- 
            Responsive style 
-------------------------------------*/
/* Tab style  */

@media only screen and (min-width: 769px) and (max-width:992px) {
    .container{
        padding: 0 40px;
    }

    .hero {
        padding: 75px;
        margin-top: 28px;
        margin-bottom: 28px;
        align-items: center;
    }

    .hero-text {
        width: 460px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 14px;
    }

	.blog-wrap {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-menu {
        background-color: #fff;
        padding: 10px 5px;
    }

    .blog-menu a.btn {
        padding: 17px 25px;
        margin-bottom: 0px;
        row-gap: 10px;
        border-radius: 10px;
        border: 1px solid #E8E8E8;
    }

    .blog-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    .special-btn {
        display: inherit;
    }
}

/*--------------------------------------- 
            Mobile style 
---------------------------------------*/

@media only screen and (max-width: 768px) {
    .hero {
        padding: 20px;
        margin-top: 28px;
        margin-bottom: 28px;
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
        padding: 0 30px;
        margin-bottom: 30px;
    }

    .hero-text h1 {
        font-size: 22px;
        line-height: 1.5;
    }

    .hero-text p {
        font-size: 14;
    }

    a.hero-btn {
        padding: 8px 16px;
    }

    .blog-menu a.btn {
        display: inline-block;
        padding: 17px 30px;
        border: 1px solid #EBEBEB;
    }

    .blog-menu {
        background-color: #fff;
        text-align: center;
    }

    .blog-wrap {
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        padding: 30px 0;
    }

    .footer-menu ul {
        flex-direction: column;
        row-gap: 25px;
    }
}